<h1 mat-dialog-title>Hi {{data.username}}</h1>
<form [formGroup]="Createform">
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Tên phòng:</mat-label>
        <input matInput  formControlName="room">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nhập mật khẩu</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button [disabled]="Createform.invalid" mat-button (click)="Submit()">Ok</button>
    <button mat-button (click)="Exit()">Không tạo nữa!</button>
  
</div>
</form>