<div class="main-container">
<mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-button (click)="returnHomepage()">メッセージアプリ</button>
    <button mat-icon-button (click)="signout()" style="left: 83%;">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item routerLink="." >一</a>
            <a mat-list-item routerLink="." >二</a>
            <a mat-list-item routerLink="." >三</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>
</div>